
html
  head
    title= title

    // /pubilc/<eken path eka>
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content

  footer
    //the static footer for all subclasses
    div
      //hr(style="color:red; width:3px;")
      hr(color="red" height="40")
      center kkss sample site
      center ucsc group project
      a(href='ugvle.ucsc.cmb.ac.lk')