doctype html
html
  head
    title= "static kview1"
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block content2

    footer
        <hr color='red'/>
        center designed by KS